* {
  margin: 0;
  padding: 0;
}

.hero, .header {
  background-color: #1f2937;
  display: flex;
}

.header {
  gap: 16px;
  padding: 16px 14% 0;
}

.logo {
  margin-right: auto;
  font-size: 24px;
  color: #f9faf8;
}

.header a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero {
  justify-content: space-between;
  padding: 96px 14%;
  gap: 36px;
}

.hero-text, .hero-image {
  flex-basis: 50%;
}

.main-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 4px;
  margin-bottom: 12px;
}

.hero button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 4px 22px;
  border-radius: 6px;
}

img {
  width: 100%;
  height: 100%;
  align-self: center;
}

.hero-image {
  width: 350px;
}

.information {
  padding: 36px 22% 48px;
  text-align: center;
}

.info-cards {
  display: flex;
  gap: 28px;
  justify-content: center;
  
}

.info-title {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin-bottom: 42px;
}

.card-container {
  width: 125px;
}

.card {
  
  height: 125px;
  width: 125px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 4px #3882f6;
  margin-bottom: 8px;
}

.card img {
  border-radius: 10px;
}

.quote {
  background-color: #e5e7eb;
  padding: 80px 23% 72px;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: 300;
}

.quote-source {
  font-weight: 700;
  text-align: end;
}

.call-to-action {
  padding: 64px 14% 64px;
}

.action-box {
  background-color: #3882f6;
  padding: 32px 80px;
  border-radius: 5px;
  color: #e5e7eb;
  display: flex;
  justify-content: space-between;
}

.action-title {
  color: #f9faf8;
  font-weight: 700;
}

.action-box button {
  color: #e5e7eb;
  background-color: #3882f6;
  padding: 4px 20px;
  border-radius: 5px;
  border: 1px solid white;
  align-self: flex-end;
}